header {
    background-color: rgba(104, 155, 151, 0.637);
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 450px;
    padding-right: 120px;
}

.name {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

h1, h2 {
    text-align: center;
    margin: 0;
    color: blanchedalmond;
}


.my-photo {
    display: flex;
    max-width: 320px;
    max-height: 320px;
    height: 30%;
    border-radius: 50%;
    border: 3px solid blanchedalmond;
    width: 70%;
}

main { 
    
    background-color: rgba(104, 155, 151, 0.637);
    margin: 0;
       flex-direction: row;
    display: flex;
justify-content: space-evenly;}

.left-column {
    word-wrap:break-word;
    text-align: left;
    color: blanchedalmond ;
    margin: 0;
    padding: 10px;
    background-color:rgba(10, 33, 54, 0.479);
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    word-wrap:break-word;
    min-width: 50px;
    color:blanchedalmond;
    background-color:rgba(24, 48, 71, 0.459);
    margin: 0;
    padding: 10px ;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center
}

.foot {
    background-color: rgba(181, 199, 197, 0.637);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:;


}
.year {
    font-style:italic;
    font-weight:bolder;
    font-size:35px;
    align-items:center;

}
.link {
    font-style:italic;
    font-weight:bolder;
    font-size:25px;
    

}

.logo {
    width: 80px;
    height: auto;
    

}