header {
    background-color: dimgray;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.name {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

h1, h2 {
    margin: 0;
    color: blanchedalmond;
}


.my-photo {
    display: flex;
    justify-content: flex-end;
    max-width: 320px;
    max-height: 320px;
    height: 30%;
    border-radius: 50%;
    border: 3px solid blanchedalmond;
    width: 70%;
    justify-content: flex-start;
}

main { 
    background-color: dimgray;
    margin: 0;
       flex-direction: row;
    display: flex;
justify-content: space-evenly;}

.left-column {
    color: coral ;
    margin: 1;
    background-color:lightslategray;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    color:coral;
    background-color:lightslategray;
    margin: 1;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center
}
footer {
    height: 30px;
    display: flex; ;
    background-color: rgb(37, 32, 32);
    
}
a {
    
    height: auto;
    justify-content: center;
    width: 25%;
}