header {
    background-color: rgba(46, 155, 146, 0.637);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.name {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

h1, h2 {
    margin: 0;
    color: blanchedalmond;
}


.my-photo {
    display: flex;
    justify-content: flex-end;
    max-width: 320px;
    max-height: 320px;
    height: 30%;
    border-radius: 50%;
    border: 3px solid blanchedalmond;
    width: 70%;
    justify-content: flex-start;
}

main { 
    
    background-color: rgba(86, 63, 141, 0.473);
    margin: 0;
       flex-direction: row;
    display: flex;
justify-content: space-evenly;}

.left-column {
    word-wrap:break-word;
    text-align: left;
    color: rgb(218, 221, 32) ;
    margin: 0;
    padding: 10px;
    background-color:rgba(10, 33, 54, 0.479);
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    word-wrap:break-word;
    min-width: 50px;
    color:rgb(202, 212, 51);
    background-color:rgba(24, 48, 71, 0.459);
    margin: 0;
    padding: 10px ;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center
}
footer {
    height: 30px;
    display: flex; ;
    background-color: rgb(37, 32, 32);
    
}
.foot{
    
    height: auto;
    justify-content: center;
    width: 25%;
}